<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>vue-demo-03: 注册登录</title>
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>
<body>
<div id="app">
    <section id="signInAndSignUp" v-if="!currentUser">
        <div>
            <label><input type="radio" name="type" value="signUp" v-model="actionType">注册</label>
            <label><input type="radio" name="type" value="login" v-model="actionType">登录</label>
        </div>
        <div class="signUp" v-if="actionType==='signUp' ">
            <form @submit.prevent="signUp">
                <div class="formRow">
                    用户名： <input type="text" v-model="formData.username">
                </div>
                <div class="formRow">
                    密码： <input type="password" v-model="formData.password">
                </div>
                <div class="formActions">
                    <input type="submit" value="注册">
                </div>
            </form>
        </div>
        <div class="login" v-if="actionType==='login'">
            <form @submit.prevent="login">
                <div class="formRow">
                    用户名： <input type="text" v-model="formData.username">
                </div>
                <div class="formRow">
                    密码： <input type="password" v-model="formData.password">
                </div>
                <div class="formActions">
                    <input type="submit" value="登录">
                </div>
            </form>
        </div>
    </section>
    <section id="todo" v-if="currentUser">
        <span class="currentUser">Hi, {{currentUser.username}}</span>
            <button @click="logout">登出</button>
        <div class="newTask">
            <input type="text" v-model="newTodo" @keypress.enter="addTodo">
        </div>
        <ol class="todos">
            <li v-for="item in todoList">
                <input type="checkbox" v-model="item.done" v-cloak>
                {{item.title}}
                <span v-if="item.done">已完成</span>
                <span v-else>未完成</span>
                <button @click="removeTodo(item)">X</button>
            </li>
        </ol>
    </section>
</div>
<script src="dist/bundle.js"></script>

</body>
</html>